
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15;
}

.contenedor {
	max-width: 120rem;
	width: 90%;
	width: min(90%, 120rem);
	margin: 0 auto;
}

body {
  background-color: white;
}

hr {
  width: 110px;
  margin: 0.5rem auto;
  border-top: 5px solid #5079F2;
  border-radius: 10px;
}


/* NavBar CSS */

.header {
  background-color: #1A1E57;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 45px 10%;
  /*position: fixed;*/
}

.header .logo {
  cursor: pointer;
  margin-right: auto;
}

.header .logo img {
  height: 70px;
  transform: scale(0.6);
  transition: all 0.3s
}

.header .logo img:hover {
  transform: scale(0.8);
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: white;
}

.header .btn button {
  margin-left: 20px;
  font-weight: 700;
  color: #fff;
  border-color: #fff;
  padding: 9px 25px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s
  
}

.header .btn button:hover {
  background-color: #313468;
  transform: scale(1.1);
} 

/* Imagen Inicio */

.inicio {
  text-align: center;
  background-image: url(../img/camFiltro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 640px;
}

.inicio p {
  color: white;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: right;
  padding: 15rem 25rem;
}

.inicio p span{
  color: #5079F2;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: right;
}
 /* FONDO */

 .fondo {
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: 2000px 1266px;
 }

/* Valores */

.soluciones {
  margin: 5rem auto;
}

.soluciones p{
  font-size: 2.5rem;
  font-weight: 700;
  color: #1A1E57;
  text-align: center;
}

.soluciones p span{
  font-size: 2.5rem;
  font-weight: 700;
  color: #5079F2;
}

.valores {
  display: flex;
  padding: 0px 320px;
  justify-content: space-around;
}

.valores .valor {
  height: 400px;
  margin-top: 0;
  text-align: center;
}

.valores .valor img {
  width: 130px;
}

.valores .valor .titulo {
  font-size: 1.2rem;
  font-weight: 700;
}

.valores .valor p {
  text-align: center;
  margin-top: 1rem;
  width: 250px;
  line-height: 1.3rem;
}

/* Formulario */

.formulario {
  display: flex;
  margin: 10rem;
  padding: 50px auto;
  transform: scale(1.1);
}

.formulario p {
  color: white;
  text-align: center;
  margin: 10px auto;
  letter-spacing: 2px;
  font-size: 1.8rem;
  
}

form {
  margin: 50px auto;
  transform: scale(1.2);
}

.formulario input {
  display: block;
  margin-bottom: 10px;
  width: 450px;
  padding: 4px 10px;
  border: none;
  outline: none;
}

.formulario .nom {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.formulario .seleccionar {
  display: block;
  justify-content: space-between;
}


.formulario select {
  margin: auto;
  margin-bottom: 10px;
  width: 220px;
  padding: 4px 10px;
  outline: none;
  border: none;
  cursor: inherit;
  font-family: inherit;
  appearance: none;
  border-radius: 0%;
}

.formulario select:last-child {
  margin-left: 6px;
}

.formulario select::-ms-expand {
  display: none;
}


.formulario textarea {
  resize: none;
  display: block;
  width: 450px;
  height: 100px;
  margin-bottom: 10px;
  outline: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.formulario .btn {
  background-color: #6878A6;
  color: white;
  border-radius: 10px;
  margin-bottom: 100px;
  
}


/* Servicios */

.servicios {
  display: flex;
  padding: 10px 300px;
  justify-content: space-around;
  margin-bottom: 7rem;
}

.servicio {
  width: 210px;
  height: 380px;
  text-align: center;
  padding: 1.2rem;
  background-color: #E8EAF1;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.servicio img{
  width: 80px;
  border-radius: 50%;
  margin: 1.1rem auto;
}

.servicio .nom_servicio {
  font-size: 1.5rem;
  color: #1A1E57;
  font-weight: 700;
  margin: 1.1rem auto;
}

.servicio .desc_servicio {
  margin: 1.1rem auto;
}

.servicio a {
  text-decoration: none;
  color: #1A1E57;
  font-size: 1.2rem;
  margin: 1.1rem auto;
}

/* MARCAS */

.div_marcas {
  padding: 30px 50px;
  background-color: #FFF;
   
}

.div_marcas p {
  font-size: 30px;
}

.div_marcas span {
  font-size: 30px;
}

.marcas {
  height: 30px;
  margin-left: -30px;
  background-color: #E9EEF2;
  
}

/* PAG CONTACTO */

.contacto {
  background-image: url(../img/fondo_contacto.png);
  background-size: 1921px 401px;
  background-repeat: no-repeat;
}

.contacto .titulo_contacto {
  padding: 4rem;
}

.contacto .titulo_contacto p{
  text-align: center;
  color: white;
  font-size: 1.7rem;
}

.contacto .info_contacto {
  background-color: #E8EAF1;
  display: flex;
  width: 1260px;
  height: 679px;
  border-radius: 20px;
  margin: auto 329px;
  justify-content: space-between;
}

.contacto .info_contacto .mapa{
  width: 352px;
  height: 374px;
}


.contacto .info {
  line-height: 1.8rem;
  margin: auto 6rem;
}

.contacto .info .inf {
  font-size: 0.9rem;
}


.formulario_contacto {
  display: block;
  margin: 6rem auto;
  padding: 50px 150px;
  transform: scale(1.1);
  
}

.formulario_contacto .consulta {
  text-align: center;  
  
}

form {
  margin: 50px auto;
  transform: scale(1.2);
}

.formulario_contacto input {
  display: block;
  margin-bottom: 10px;
  width: 450px;
  padding: 4px 10px;
  border: none;
  outline: none;
}

.formulario_contacto .nom {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.formulario_contacto .seleccionar {
  display: block;
  justify-content: space-between;
}


.formulario_contacto select {
  margin: auto;
  margin-bottom: 10px;
  width: 220px;
  padding: 4px 10px;
  outline: none;
  border: none;
  cursor: inherit;
  font-family: inherit;
  appearance: none;
  border-radius: 0%;
}

.formulario_contacto select:last-child {
  margin-left: 6px;
}

.formulario_contacto select::-ms-expand {
  display: none;
}


.formulario_contacto textarea {
  resize: none;
  display: block;
  width: 450px;
  height: 100px;
  margin-bottom: 10px;
  outline: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}

.formulario_contacto .btn {
  background-color: #5079F2;
  color: white;
  border-radius: 10px;
  margin-bottom: 100px;
  width: 50%;
  
}

/* EQUIPOS */

.gray {
  background-color: #E8EAF1;
  padding: 1%;
}

.equipos {
  display: flex;
  padding: 10px 300px;
  justify-content: space-around;
  margin-bottom: 7rem;
}

.equipo {
  width: 255px;
  height: 400px;
  text-align: center;
  padding: 1.2rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.equipo img{
  width: 80%;
  margin: 1.1rem auto;
}

.equipo .titulo {
  color: #1A1E57;
  font-weight: 700;
  font-size: 1.3rem;
}

.equipo a {
  text-decoration: none;
  color: #1A1E57;
  font-size: 1.2rem;
  margin: 1.1rem auto;
}

.nos {
  display: flex;
  justify-content: space-evenly;
}

.nosotros {
  width: 475px;
  height: 475px;
  background-color: #1A1E57;
  color: white;
  border-radius: 10%;
  margin-top: 10rem;
  margin-bottom: 10rem;
  box-shadow: rgba(232, 234, 241, 1) 70px 100px 0px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nosotros_titulo {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 80px;
}

.nosotros_info {
  width: 315px;
  text-align: center;
  margin: 60px auto;
}

.descubri {
  margin: 25rem 0;
  margin-left: -15rem;
  text-align: center;
}

.descubri p {
  color: #1A1E57;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.descubri p span {
  color: #5079F2;
  font-size: 2.5rem;
  font-weight: 700;
}

.descubri a {
  text-decoration: none;
  color: #1A1E57;
  font-size: 1.2rem;
}

.telefono {
  width: 1065px;
  height: 745px;
  background-color: #E8EAF1;
  border-radius: 10%;
  margin: 5rem auto;
}

.cont_telefono {
  display: flex;
}

.tel_titulo {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
  padding-top: 5rem;
  color: #1A1E57;
}

.tel_titulo span{
  text-align: center;
  font-size: 2.3rem;
  font-weight: 700;
  padding-top: 5rem;
  color: #5079F2;
}

.caracteristicas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 500px;
  height: 500px;
  margin: 0 7rem;
}

.caracteristica {
  margin: auto 2rem;
}

.caracteristica .icono {
  width: 150px;
}

.caracteristica p {
  font-size: 0.9rem;
  text-align: center;
}

.img_telefono img {
  width: 1000px;
  margin: -6rem -15rem;
}